
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.btn-outline-light:hover {
    border-color: #f8f9fa;
}

body{
    background: -webkit-linear-gradient(left, #024E2E, #3CB371);
    color:white;
    text-align:center;
    align-content: center;

}

.register-left{
    text-align: center;
    color: #fff;
    margin-top: 12%;
}

.register-left img{
    width: 120px;
    height: 120px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
